include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt


recursive-include xreshaper *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
